<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222704943010-jgebo0bitr54ao3240pjv19h9ghqhi73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222704943010-jgebo0bitr54ao3240pjv19h9ghqhi73</string>
	<key>API_KEY</key>
	<string>AIzaSyDoenvG5-a-hPHHZLheD0QYy9gBQQAXYD8</string>
	<key>GCM_SENDER_ID</key>
	<string>222704943010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>pair-lab-3d1d7</string>
	<key>STORAGE_BUCKET</key>
	<string>pair-lab-3d1d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222704943010:ios:6c90ab45f028d6d9973cfb</string>
</dict>
</plist>